<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <nav>
          <a href="#">Login</a>
          <a href="#">Admin</a>
        </nav>
        

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../public/js/index.js"></script>
