<!-- views/profile.ejs -->

<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: {{user.id}} <br>
						<strong>username</strong>: {{user.username}}<br>
						<strong>password</strong>: {{user.password}}<br>
					</p>

			</div>
		</div>

	</div>

	<div class="row">

		<!-- User Control Panel -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Control Panel</h3>

				<form id="choiceForm">
					<input id="0" type="radio" name="selectedAction" value="logNewProject" checked> 
					<label for="0">Log hours to a new project</label>
					<br>
					<input id="1" type="radio" name="selectedAction" value="logExistingProject"> 
					<label for="1">Update hours on an existing project</label>
					<br>
					<button id="submitButton">Submit</button>
				  </form>

			</div>
		</div>

	</div>

</div>
 
